@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }

  * {
    @apply border-dark-200 dark:border-dark-700;
  }

  body {
    @apply bg-white dark:bg-dark-950 text-dark-900 dark:text-dark-50;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
